{% extends "basefront.html.twig" %}
{% block body %}
    <div class="row mt-3">
        <div class="col">
            <!-- emplacement de la vidéo -->
            {% if formation.videoid %}
                <div style="width: 560px; height: 315px; float: none; clear: both; margin: 2px auto;">
                    <iframe
                        width="100%"
                        height="100%"
                        src="https://www.youtube.com/embed/{{ formation.videoid }}"
                        title="YouTube video player"
                        frameborder="0"
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>                                             
            {% endif %}
        </div>
        <div class="col">
            <span id="formationPublishedAt">{{ formation.publishedatstring }}</span>
            <h4 class="text-info mt-5"><span id="formationTitle">{{ formation.title }}</span></h4>
            <strong>playlist : </strong><span id="formationPlaylistName">{{ formation.playlist.name }}</span><br />
            <strong>catégories : </strong>
                <div id="formationCategories">
                {% for categorie in formation.categories %}
                    <span id="{{ categorie.name }}">{{ categorie.name }}</span>
                {% endfor %}
                </div>
            <br /><br />
            <strong>description :</strong><br />
                {{ formation.description|nl2br }}
        </div>
    </div>
{% endblock %}