{% extends "baseadmin.html.twig" %}
{% block body %}
    <table class="table table-striped" description="Liste des playlists">
        <thead>
            <tr>
                <th class="text-left align-top" scope="col">
                    playlist<br />
                    <a id="sortByNameAsc" href="{{ path('admin.playlists.sort', {champ:'name', ordre:'ASC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><</a>
                    <a id="sortByNameDesc" href="{{ path('admin.playlists.sort', {champ:'name', ordre:'DESC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">></a>
                    <form class="form-inline mt-1" method="POST" action="{{ path('admin.playlists.findallcontain', {champ:'name'}) }}">
                        <div class="form-group mr-1 mb-2">
                            <input type="text" class="sm" name="recherche" 
                                   value="{% if valeur|default and not table|default %}{{ valeur }}{% endif %}">
                            <input type="hidden" name="_token" value="{{ csrf_token('filtre_name') }}">
                            <button id="btnFilterName" type="submit" class="btn btn-info mb-2 btn-sm">filtrer</button>
                        </div>
                    </form>                    
                </th>
                <th class="text-left align-top" scope="col">
                    nombre de formations<br />
                    <a id="sortByFormationCountAsc" href="{{ path('admin.playlists.sort', {champ:'formations', ordre:'ASC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><</a>
                    <a id="sortByFormationCountDesc" href="{{ path('admin.playlists.sort', {champ:'formations', ordre:'DESC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">></a>                 
                </th>
                <th class="text-left align-top" scope="col">
                    catégories
                    <form class="form-inline mt-1" method="POST" action="{{ path('admin.playlists.findallcontain', {champ:'id', table:'categories'}) }}">
                        <select id="selectFilterCategorie" class="form-select form-select-sm" name="recherche" onchange="this.form.submit()">
                            <option value=""></option>
                            {% for categorie in categories %}
                                <option 
                                    {% if valeur|default and valeur==categorie.id %} 
                                        selected
                                    {% endif %} 
                                    value="{{ categorie.id }}">{{ categorie.name }}
                                </option>
                            {% endfor %}
                        </select>                    
                    </form>            
                </th>
                <th class="text-center align-top" scope="col">
                    opérations
                    <a id="btnNewPlaylist" href="{{ path('admin.playlists.showone') }}" 
                       class="btn btn-info btn-sm active" role="button" aria-pressed="true">ajouter</a>
                </th>				
            </tr>
        </thead>
        <tbody>
            <!-- boucle sur les playlists -->
            {% if playlists|length > 0 %}
                {% for k in 0..playlists|length-1 %}
                    <tr class="align-middle">
                        <td>
                            <h5 id="playlistName" class="text-info">
                                {{ playlists[k].name }}
                            </h5>
                        </td>
                        <td>
                            <h5 id="playlistFormationCount" class="text-info">
                                {{ playlists[k].formations.count() }}
                            </h5>
                        </td>  
                        <td class="text-left">
                            {% set categories = playlists[k].categoriesplaylist %}
                            {% if categories|length > 0  %}
                                {% for c in 0..categories|length-1 %}
                                    &nbsp;{{ categories[c] }}                                  
                                {% endfor %}
                            {% endif %}
                        </td>            					
                        <td class="text-center">
                            <a id="btnShowPlaylist" href="{{ path('admin.playlists.showone', {id:playlists[k].id}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">modifier</a>
                            <form method="post" action="{{ path('admin.playlists.delete', { id: playlists[k].id }) }}">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ playlists[k].id) }}">
                                <button type="submit" class="btn btn-danger btn-sm active" 
                                        onclick="
                                        {% if playlists[k].formations|length > 0 %}
                                            alert('la playlist doit être vide pour être supprimée');
                                            return false;
                                        {% else %}
                                            return confirm('supprimer la playlist {{ playlists[k].name }} ?');
                                        {% endif %}
                                        ">
                                    supprimer
                                </button> 
                            </form>
                        </td> 					
                    </tr>
                {% endfor %}	
            {% endif %}
        </tbody>
    </table>
{% endblock %}