{% extends "baseadmin.html.twig" %}
{% block body %}
    <div class="w-50 mx-auto">
        <form method="post" action="{{ playlist
            ? path('admin.playlists.update', { id: playlist.id }) 
            : path('admin.playlists.create') }}">
            <h3>modification / création de playlist</h3>
            <div class="d-flex flex-column">
                <div class="d-flex align-items-center gap-2 mb-2">
                    <label for="name" class="form-label mb-0 text-nowrap">nom <span class="text-danger">*</span></label>
                    <input id="playlistName" type="text" name="name" class="form-control" value="{{ playlist ? playlist.name : ''}}" required>
                </div>
                <div class="d-flex align-items-center gap-2 mb-2">
                    <label for="description" class="form-label mb-0">description</label>
                    <textarea id="description" name="description" class="form-control" rows="8">
                        {{ playlist ? playlist.description : '' }}
                    </textarea>
                </div>
                <div class="text-end mt-3">
                    <span class="me-2 text-muted">les champs marqués d'une * sont obligatoires</span>
                    <a href={{ path('admin.playlists') }} class="btn btn-secondary btn-sm">retour</a>
                    <input type="submit" value="valider" class="btn btn-primary btn-sm">
                </div>
                <div class="mt-5">
                    <h3><span id="playlistFormationCount">{{playlist ? playlist.formations.count() : "" }}</span>
                        formations dans cette playlist
                    </h3>
                    {% for formation in playlistformations %}
                        {{ formation.title }}<br />
                    {% endfor %}
                </div>
            </div>
            <input type="hidden" name="_token" value="{{ csrf_token(playlist ? 'update' ~ playlist.id : 'create') }}">
        </form>
    </div>
{% endblock %}